@charset "utf-8";
body {
	
}
#contenedor {
	height: auto;
	width: 100%;
	text-align: center;
}
#contenedor #logotipo {
	margin-right: auto;
	margin-left: auto;
}
#contenedor #formulario {
	width: 240px;
	margin-right: auto;
	margin-left: auto;
	height: 80px;
}
#contenedor #formulario form #campoizq {
	float: left;
	width: 75px;
}
#contenedor #formulario form #campoizq #montoizq {
	width: 75px;
}
#contenedor #formulario form #campoizq #monedaizq {
	width: 75px;
	margin-top: 10px;
}
#contenedor #formulario form #flecha {
	float: left;
	margin-left: 20px;
}
#contenedor #formulario form #campoder {
	float: right;
	width: 75px;
}
#contenedor #formulario form #campoder #montoder {
	width: 75px;
}
#contenedor #formulario form #campoder #monedader {
	width: 75px;
	margin-top: 10px;
}
#contenedor #formulario form input {
}
#contenedor #chat {
	position: fixed;
	bottom: 0px;
	width: 100%;
}
#contenedor #chat img {
	margin-right: auto;
	margin-left: auto;
}
.acordion{
	width:280px;
	margin-right: auto;
	margin-left: auto;
	display:block;
}
.agregar{
	display:block;
	width:110px;
	margin-left:auto;
	margin-right:auto;
	color:#fff !important;
	text-shadow:none;
}
.opciones{display:block;width:280px;margin-left:auto;margin-right:auto;text-align:right;}
#puntos{font-size:40px;color:#0a4b81;}
.share{}
.error{color:#FF0000;font-weight:bold;}
#bienvenido{colod:#999;font-size:14px;}
.good{color:#04B404;font-weight:bold;}
.ui-body-a{background-color:#000 !important;}
.mm{color:#fff;text-shadow:none;}

/*PAGE ADMIN (LOGIN)*/
#pageadmin{height:100% !important;}
#pageadmin .ui-content {position:relative;padding:0px !important;height:90%;}
#pageadmin #centrador{text-align: center;height:100%;}
#pageadmin #centrador:before {content: '';display: inline-block;height: 100%;vertical-align: middle;}
#pageadmin #centro{display: inline-block;vertical-align: middle;width: 280px;}
#pageadmin #centro h1{margin:0px;padding:0px;text-align:center;}
.volver{float:left; margin-left:20px;}
.firma{float:right;margin-right:20px;}
#mypanel{width:0px; }
#mypanel .ui-listview{border:none;background:none;box-shadow: none;}
#mypanel .ui-listview a{color:#333 !important;border:none;}
.ui-listview{margin-left:auto !important; margin-right:auto !important;}
#popupDialog,#popupUpdate,#popupPuntaje,#popupReporte,#popupConfirm{background:#fff !important;border:none;z-index:100000;}
#popupDialog .ui-header,#popupUpdate .ui-header,#popupPuntaje .ui-header,#popupReporte .ui-header,#popupConfirm .ui-header{padding-top:0px !important;}
#popupDialog .ui-title,#popupUpdate .ui-title,#popupPuntaje .ui-title,#popupReporte .ui-title,#popupConfirm .ui-title{background:none;background-color:#0a4b81;height:auto !important;width:auto;color:#fff;text-shadow:none;font-size:18px;}
#popupDialog .ui-content,#popupUpdate .ui-content,#popupPuntaje .ui-content,#popupReporte .ui-content,#popupConfirm .ui-content{color:#666;font-size:14px;text-shadow:none;padding:30px;}

.ui-collapsible-inset{margin:0px auto 0px auto !important;margin-bottom:20px !important;}
.titulodown{border-radius:8px !important;}
.titulodown a{background:#0a4b81 !important;color:#fff !important;text-shadow:none !important;}
.ui-collapsible-content{padding:0px !important;}
.ui-collapsible-content a{font-weight:normal !important;}
#infoexamen{overflow:hidden;background:#e7e7e7;}
#selExamen-listbox .ui-title{background-image:none;height:auto;font-size:18px;padding-top:0px !important;margin-top:0px !important;}


#fconnect{width:230px;margin-left:auto;margin-right:auto;margin-bottom:30px;background-color:#3c5897 !important;color:#fff;border:none;text-shadow:none;}
#fconnect span{display:inline-block;vertical-align: middle;font-size:12px;font-weight:normal;}
#fconnect strong{font-size:14px;}
#fconnect i{display:inline-block;background-image:url(../imagenes/facebook-32.png);width:32px;height:32px;margin-right:10px;vertical-align: middle;}

/*HDPI*/
 #pruebacss{display:none;}
 #pageadmin{margin-bottom:0px !important;padding-bottom:0px !important;}
#email{font-size:18px;}
	#pass{font-size:18px;}
	#logoBig{width:400px;}
	#login{font-size:24px; width:100%; padding:10px 0px 10px 0px !important;text-align:center;margin-bottom:20px;background-color:#034a80 !important;color:#fff;border:none;text-shadow:none;}
	.registrobtn{font-size:24px; width:85%;background-color:#f4f5f5 !important;padding-top:10px;padding-bottom:10px;border:none;text-shadow:none;color:#333;margin-bottom:0px;margin-left:auto;margin-right:auto;}
	#fconnect{width:320px;}
	#fconnect span{font-size:14px;}
	#fconnect strong{font-size:16px;}
	#fconnect i{background-image:url(../imagenes/facebook-32.png);background-size:32px;width:32px;height:32px;}
	#pageadmin form {border-top:dashed 1px #ccc; padding-top:32px;}
	#pageadmin #centro{width: 80%; text-align:center;}

	/*PAGE REGISTRO*/
	#pageregistrarse .ui-content{padding-top:0px !important;}
	#pageregistrarse p {margin-top:0px;padding-top:0px;}
	#pageregistrarse form{width:90%;margin-left:auto;margin-right:auto;}
	#pageregistrarse input{font-size:18px;}
	#pageregistrarse p{font-size:18px;text-align:left;font-weight:bold;}
	#pageregistrarse label {font-size:18px;text-align:left;margin-top:10px;}
	#pageregistrarse #registrar{font-size:30px;padding:10px !important;position:relative;width:280px;margin-left:auto;margin-right:auto;margin-bottom:30px;background-color:#034a80 !important;color:#fff;border:none;text-shadow:none;}
	#pageregistrarse #registrar i{position:absolute;font-size: 30px;top:15px;left:17px;}
	.volver i{font-size:36px;}
	.firma{display:inline-block;vertical-align:middle;margin-top:15px !important;font-size:12px;}
	.firma span{display:inline-block;vertical-align:middle;background-image:url(../imagenes/logomedapps.png);width:150px;height:28px;}
	.leer{font-size:14px;margin-top:20px;display:block;}
	/*PAGE MENUPRINCIPAL*/
	.menuicon{font-size:74px; color:#fff;}
	.menup a{margin-left:auto;margin-right:auto;background-color:#034a80 !important;padding:25px !important;width:74px !important;border-radius:100px !important;}
	.menup p{font-size:16px !important; color:#034a80 !important;}
	#pagemenuppal .ui-grid-a{width:80%;margin-left:auto;margin-right:auto;margin-top:20px;}
	.ui-bar-a{background:none !important;border:none !important;margin-bottom:20px;}
	.actualizar{width:80%;margin-right: auto;margin-left: auto}
	.ui-header{padding-top:0px !important;}
	.ui-title{width:100%;background-image:url(../imagenes/logochicox2.png);background-size:250px 34px;background-position:center 23px;height:80px;background-repeat: no-repeat;margin:0px auto !important;}
	#bienvenido{font-size:18px;padding:7px;margin:8px; margin-top:8px;color:#fff;background-color:#ccc;border-radius:5px;}
	#bienvenido span{display:inline-block; vertical-align: middle;}
	#bienvenido i{font-size:24px; display:inline-block; vertical-align: middle; margin-right:10px;}
	.salir{top:12px;right:12px;display:block;}
	.salir span,.options span{font-size:38px;}
	.options{top:12px;left:12px;display:block;}
	#pageterminos p{text-align:justify; padding-left:15px; padding-right:15px;}
	#pageterminos h2{text-align:left;padding:15px;}

	/*PANEL LATERAL*/
	
	#mypanel{width:120px;}
	#mypanel{width:120px;background:#fff;height:100%;}
	#mypanel .nave{font-size:18px;padding-top:20px;}
	#mypanel .ui-listview{border:none;background:none;box-shadow: none;width:120px !important;margin:0px;padding:0px;}
	#mypanel .ui-listview a{display:block; margin-left:10px;border:none; background-color:#034a80; padding:20px 25px 20px 25px; width:50px !important; border-radius:60px;margin-bottom:20px;}
	#mypanel .ui-listview a i{color:#fff; font-size:60px;}
	#mypanel a.cerrar{padding:10px;background:none;margin-left:20px;}
	#mypanel a.cerrar span{color:#666;font-size:60px;}

	/*PAGE EXAMENES*/
	#pageexamenes h2{margin-top:0px;font-size:20px;margin-bottom:20px;}
	.ui-listview{width:90%;}
	.ui-listview li a{font-size:16px !important}

	/*Page Examen*/
	#examen{color:#8b8b8a;background:#e7e7e7;padding:0px 20px 5px 0px;margin:20px 0px 0px 0px;}
	#examen i{font-size:24px;display:inline-block;vertical-align:middle;margin-right:15px;}
	#examen span{display:inline-block;vertical-align: middle;font-size:18px;}
	#tiempo i{font-size:30px;display:inline-block;vertical-align: middle;margin-right:10px;}
	#tiempo span{display:inline-block;vertical-align: middle; font-size:30px;}
	#tiempo{background:#ccc;font-size:30px;color:#fff;padding:0px;border-radius: 0px;width:100%;margin:0px auto 0px auto;position:fixed;left:0px;top:80px;}
	#respuestas{width:100%;margin:30px auto 30px auto;}
	#respuestas legend{margin:0px 20px 20px 20px;font-size:18px;}
	.ui-controlgroup-vertical .ui-controlgroup-controls .ui-btn{border-bottom-width:1px !important}
	#respuestas .ui-radio{margin-bottom:0px;border-radius:10px !important;}
	#respuestas .ui-radio label{font-weight:normal !important;font-size:16px;}
	/*.ui-page-theme-a .ui-btn{}*/
	.nextBtn{background:#0a4b81 !important;margin:10px 0px 0px 0px !important;padding:10px 20px !important;border-radius:8px !important;}
	.nextBtn i{font-size:36px;color:#fff;vertical-align: middle;}
	.nextBtn span{display:none}
	.noterror a{margin:10px 0px 0px 0px !important;padding:10px 20px !important;border-radius:8px !important;}
	.noterror i{font-size:36px;}
	#pageexamen .ui-footer{margin-bottom:0px !important;padding-bottom:0px !important;}
	#pageexamen .ui-grid-b{background:#fff !important;margin-bottom:0px !important;padding-bottom:0px !important;}
	#pageexamen .ui-grid-b .ui-block-a,#pageexamen .ui-grid-b .ui-block-c{width:25% !important}
	#pageexamen .ui-grid-b .ui-bar{padding:0px !important;}
	#pageexamen .ui-grid-b .ui-block-b{width:50% !important;}
	.paginado{color:#666;font-weight:normal;font-size:18px;margin-top:30px;}
	
	/*POPUPS*/
	#popupDialog{width:100%;}
	#popupUpdate{width:100%;}
	#popupDialog a i,#popupUpdate a i,#popupPuntaje a i,#popupReporte a i,#popupConfirm a i{display:inline-block;font-size:24px;padding-right:10px;}
	#popupDialog a span,#popupUpdate a span,#popupPuntaje a span,#popupReporte a span,#popupConfirm a span{display:inline-block;font-size:18px;}
	#popupPuntaje{width:100%;}
	#popupReporte{width:100%;}
	#reporte{height:150px !important;}
	#popupConfirm{width:100%;}
	#popupDialog .ui-title,#popupUpdate .ui-title,#popupPuntaje .ui-title,#popupReporte .ui-title,#popupConfirm .ui-title{font-size:24px;}
	#popupDialog .ui-content,#popupUpdate .ui-content,#popupPuntaje .ui-content,#popupReporte .ui-content,#popupConfirm .ui-content{font-size:14px;}


	.ui-grid-b{background:#fff;}
	/*Page Scores*/
	.ui-collapsible-inset{width:100%;}
	.ui-collapsible-content .ui-listview{width:100%;}
	#popupDialog .ui-content,#popupUpdate .ui-content,#popupPuntaje .ui-content,#popupReporte .ui-content,#popupConfirm .ui-content{padding:20px !important;}

	/*PAGE RANKING*/
	.contenedor{width:90%;margin:20px auto 0px auto !important;}
	#pageranking .ui-table th {font-size:16px !important;}
	/*PAGE Consultas*/
	#asunto,#consulta{font-size:24px;}
	#consulta{margin-top:20px;height:300px !important;}
	#consultar{width:200px;color:#666;}
	#consultar i{font-size:32px; display:inline-block;vertical-align: middle;margin-right:10px;}
	#consultar span{font-size:24px;display: inline-block;vertical-align: middle;}
